<!-- This goes before </head> closing tag, Google Analytics can be placed here -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QY5BDEHSF0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QY5BDEHSF0');
</script>


<!--ad Google sense -->
<script data-ad-client="ca-pub-9744697959213699" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
